---
title: 'Linux: Hardening'
description: "Обзор инструментов для проверки Linux на compliance: CIS, ISO 27001, PCI DSS, ФСТЭК."
priority: 5
keywords: 'Opensophy, Linux: Hardening, compliance, харденинг, linux, статьи, open-source'
---
